<html>
<head>
<title>cors.io</title>
<style>
hr { width: 20%; }

.contributors { margin-top: 8px; font-size: 12px; }
</style>
</head>
<body><center><br><br>

<big><b>使用场景：</b></big><br>
受限于浏览器的同源策略，服务端未设置 'Access-Control-Allow-Origin' 头，将不允许跨域请求。

<big><b>解决方案：</b></big><br>
使用跨域代理（CORS Proxy）<br><br>


$.getJSON('https://httpbin.org/get?cors=a_problem',function(){})<br><br>

替换为：<br><br>

$.getJSON('<b>https://i-cors.herokuapp.com/?</b>https://httpbin.org/get?cors=a_problem',function(){})<br><br>

<hr>

$.post('https://httpbin.org/post',data,function(){})<br><br>

替换为：<br><br>

$.post('<b>https://i-cors.herokuapp.com/?</b>https://httpbin.org/post',data,function(){})<br><br>


</body>
</html>

